<a href="https://colab.research.google.com/github/falawar7/AAI_634O/blob/main/Week3/Project/Faysal_Elawar_Project_final_Rev1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Graded Assessment: Data Pipeline Project**

# **Faysal Elawar**

# **Milestone 1**

### **Installing Dash Ploty**

In [ ]:
#installing the Librarries
!pip install dash dash-bootstrap-components pandas plotly

Collecting dash
  Downloading dash-2.18.2-py3-none-any.whl.metadata (10 kB)
Collecting dash-bootstrap-components
  Downloading dash_bootstrap_components-1.7.1-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.11/dist-packages (5.24.1)
Collecting Flask<3.1,>=1.0.4 (from dash)
  Downloading flask-3.0.3-py3-none-any.whl.metadata (3.2 kB)
Collecting Werkzeug<3.1 (from dash)
  Downloading werkzeug-3.0.6-py3-none-any.whl.metadata (3.7 kB)
Collecting dash-html-components==2.0.0 (from dash)
  Downloading dash_html_components-2.0.0-py3-none-any.whl.metadata (3.8 kB)
Collecting dash-core-components==2.0.0 (from dash)
  Downloading dash_core_components-2.0.0-py3-none-any.whl.metadata (2.9 kB)
Collecting dash-table==5.0.0 (from dash)
  Downloading dash_table-5.0.0-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.11/dist-packages (from dash) (8.6.1)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.11/dist-packages (from dash) (4.12.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from dash) (2.32.3)
Collecting retrying (from dash)
  Downloading retrying-1.3.4-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.11/dist-packages (from dash) (1.6.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from dash) (75.1.0)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from plotly) (24.2)
Requirement already satisfied: Jinja2>=3.1.2 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (3.1.5)
Requirement already satisfied: itsdangerous>=2.1.2 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (2.2.0)
Requirement already satisfied: click>=8.1.3 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (8.1.8)
Requirement already satisfied: blinker>=1.6.2 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (1.9.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.11/dist-packages (from Werkzeug<3.1->dash) (3.0.2)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib-metadata->dash) (3.21.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (2024.12.14)
Downloading dash-2.18.2-py3-none-any.whl (7.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 21.2 MB/s eta 0:00:00
Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Downloading dash_bootstrap_components-1.7.1-py3-none-any.whl (229 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.3/229.3 kB 9.5 MB/s eta 0:00:00
Downloading flask-3.0.3-py3-none-any.whl (101 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.7/101.7 kB 5.7 MB/s eta 0:00:00
Downloading werkzeug-3.0.6-py3-none-any.whl (227 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 228.0/228.0 kB 6.0 MB/s eta 0:00:00
Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Installing collected packages: dash-table, dash-html-components, dash-core-components, Werkzeug, retrying, Flask, dash, dash-bootstrap-components
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 3.1.3
    Uninstalling Werkzeug-3.1.3:
      Successfully uninstalled Werkzeug-3.1.3
  Attempting uninstall: Flask
    Found existing installation: Flask 3.1.0
    Uninstalling Flask-3.1.0:
      Successfully uninstalled Flask-3.1.0
Successfully installed Flask-3.0.3 Werkzeug-3.0.6 dash-2.18.2 dash-bootstrap-components-1.7.1 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 retrying-1.3.4

### **importing librarries**

In [ ]:
#import librarries
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
import plotly.express as px
import pandas as pd
import numpy as np

### **1. Set Up the Sales Dataset:**

Created Table in Excel File with Following Colums:
***date,product_id,sales_amount,store_location***
i have added the Dateby Shuffle

i have added **Prodct** by using:" **=INDEX({"P001", "P002", "P003", "P004"....."P012"}, RANDBETWEEN(1, 12))**

i have added **State** By Using: =**INDEX(A$1:A$50, RANDBETWEEN(1, 50)) Name od States took from web**

In [ ]:
# Load the Salaes Data From CSV
sales_data = pd.read_csv('https://raw.githubusercontent.com/falawar7/AAI_634O/refs/heads/main/Week1/Sales_Dataset.csv')
sales_data .head()

       date product_id  sales_amount  store_location
0  1/1/2023       P006           500        New York
1  1/1/2023       P005           300     Los Angeles
2  1/2/2023       P011           450         Chicago
3  1/2/2023       P005           600        New York
4  1/2/2023       P005           150  North Carolina

In [ ]:
sales_data

            date product_id  sales_amount  store_location
0       1/1/2023       P006           500        New York
1       1/1/2023       P005           300     Los Angeles
2       1/2/2023       P011           450         Chicago
3       1/2/2023       P005           600        New York
4       1/2/2023       P005           150  North Carolina
...          ...        ...           ...             ...
999   12/31/2023       P011            50        Nebraska
1000  12/31/2023       P010            90   New Hampshire
1001  12/31/2023       P009           100    Rhode Island
1002  12/31/2023       P011           150  North Carolina
1003  12/31/2023       P006           120     Mississippi

[1004 rows x 4 columns]

In [ ]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1004 non-null   object
 1   product_id      1004 non-null   object
 2   sales_amount    1004 non-null   int64
 3   store_location  1004 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.5+ KB

In [ ]:
sales_data.describe()

       sales_amount
count   1004.000000
mean     456.025896
std      558.921830
min       25.000000
25%       60.000000
50%      150.000000
75%      900.000000
max     2000.000000

In [ ]:
# Calculate total sales
total_sales = sales_data['sales_amount'].sum()
print('Total Sales:', total_sales, 'USD')

Total Sales: 457850 USD

**Calculate Selling Product**

In [ ]:
# Calculate best Selling Product
best_selling_product = sales_data.groupby('product_id')['sales_amount'].sum().idxmax()

# Calculate the total sales for the best-selling product
total_sales_prd = sales_data[sales_data['product_id'] == best_selling_product]['sales_amount'].sum()

print(f'Best Selling Product is: {best_selling_product} with Total Sales of {total_sales_prd} USD')

Best Selling Product is: P005 with Total Sales of 52620 USD

**Calculate of Store Location**

In [ ]:
# Calculate the Best Store Locator
best_store_location = sales_data.groupby('store_location')['sales_amount'].sum().idxmax()

# Calculate the total sales for the best store location
total_sales_store = sales_data[sales_data['store_location'] == best_store_location]['sales_amount'].sum()
print(f'Best Selling Store Location is: {best_store_location} with Total Sales of {total_sales_store} USD')

Best Selling Store Location is: Washington with Total Sales of 15075 USD

In [ ]:
#print Sales ammount in store locations
sales_by_location= sales_data.groupby('store_location')['sales_amount'].sum()
print(sales_by_location)

store_location
Alabama                  7980
Alaska                  11525
Arizona                  8290
Arkansas                12360
California              11170
Chicago                   450
Colorado                 5885
Connecticut              7425
Delaware                 5905
District of Columbia     7430
Florida                  8755
Georgia                  9800
Hawaii                   4495
Idaho                   12645
Illinois                 5120
Indiana                  8015
Iowa                    10725
Kansas                   9225
Kentucky                 9810
Los Angeles               300
Louisiana               12820
Maine                   13570
Maryland                 9585
Massachusetts            6280
Michigan                10025
Minnesota               10480
Mississippi             11095
Missouri                 5265
Montana                 12015
Nebraska                 7875
Nevada                  11810
New Hampshire            8815
New Jersey              11420
New Mexico               7940
New York                11490
North Carolina           6540
North Dakota            12570
Ohio                    10280
Oklahoma                 4235
Oregon                   9450
Pennsylvania            12125
Rhode Island             8985
South Carolina           9320
South Dakota            12300
State                   11860
Tennessee                4435
Texas                    5950
Utah                     7900
Vermont                  6120
Virginia                 8860
Washington              15075
West Virginia            4050
Name: sales_amount, dtype: int64

### **2. Create a Basic Visualization with Dash**

***Create a Dash application that visualizes the sales data. For Week 1, the focus is on a basic visualization.***

In [ ]:
app = dash.Dash(__name__)
sales_by_location=sales_data.groupby('store_location')['sales_amount'].sum().reset_index()
#create a bar Chart
fig=px.bar(sales_by_location, x='store_location', y='sales_amount', color='store_location', title='Sales By Store Lcoation')

#setup the layout of the app
app.layout = html.Div(children=[
    html.H1(children='Sales Dashboard'),
    dcc.Graph(figure=fig)
])
if __name__ == '__main__':
    app.run_server(debug=True)

#### **Plotting on Dash:**
![Screenshot 2025-02-09 103743.png]()

# **Milestone 2**

### **Install PYmongo**

In [ ]:
!python -m pip install "pymongo[srv]==3.11"

Collecting pymongo==3.11 (from pymongo[srv]==3.11)
  Downloading pymongo-3.11.0.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 771.7/771.7 kB 15.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting dnspython<2.0.0,>=1.16.0 (from pymongo[srv]==3.11)
  Downloading dnspython-1.16.0-py2.py3-none-any.whl.metadata (1.8 kB)
Downloading dnspython-1.16.0-py2.py3-none-any.whl (188 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 188.4/188.4 kB 12.1 MB/s eta 0:00:00
Building wheels for collected packages: pymongo
  Building wheel for pymongo (setup.py) ... done
  Created wheel for pymongo: filename=pymongo-3.11.0-cp311-cp311-linux_x86_64.whl size=495610 sha256=716dc3126d337a4fa3e2ee673b70ecfda856b34420c4be40477c9d1ef69bee63
  Stored in directory: /root/.cache/pip/wheels/43/00/27/6d27c275881078538e7cd04e595f2f3a1f14b1ef9e32e40583
Successfully built pymongo
Installing collected packages: pymongo, dnspython
Successfully installed dnspython-1.16.0 pymongo-3.11.0

### **Set up MongoDB**
*   Install and configure MongoDB (local or cloud-based). Create a new database called sales_db and a collection named sales.
*   Write a script to insert the sales data from the CSV file into MongoDB.

In [ ]:
import pymongo
import pandas as pd

In [ ]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://faysalelawar:pb6LB2kBPQ5Be5vN@dataengineeringcluster.61mrj.mongodb.net/?retryWrites=true&w=majority&appName=DataEngineeringCluster"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [ ]:
#create a new databse called sales_db
db = client["sales_db"]

In [ ]:
#create a new collection named sales
collection = db["sales"]

In [ ]:
#read CSV file from Github
# Load the Salaes Data From CSV
sales_data = pd.read_csv('https://raw.githubusercontent.com/falawar7/AAI_634O/refs/heads/main/Week1/Sales_Dataset.csv')
sales_data .head()

       date product_id  sales_amount  store_location
0  1/1/2023       P006           500        New York
1  1/1/2023       P005           300     Los Angeles
2  1/2/2023       P011           450         Chicago
3  1/2/2023       P005           600        New York
4  1/2/2023       P005           150  North Carolina

In [ ]:
#convert Dataframe to doctionary
sales_records = sales_data.to_dict(orient='records')

In [ ]:
#connect to mongo
db_name = "sales_db"
collection_name = "sales"

client = pymongo.MongoClient(uri)
db = client[db_name]
collection = db[collection_name]
# Insert data into MongoDB
if sales_records:
    collection.insert_many(sales_records)
    print("Data inserted successfully.")
else:
    print("No data found in CSV.")

# Close connection
client.close()

Data inserted successfully.

In [ ]:
#checking the Data
documents = collection.find().limit(5)
for document in documents:
    print(document)

{'_id': ObjectId('679fdb35616e69b025b4b547'), 'date': '1/1/2023', 'product_id': 'P006', 'sales_amount': 500, 'store_location': 'New York'}
{'_id': ObjectId('679fdb35616e69b025b4b548'), 'date': '1/1/2023', 'product_id': 'P005', 'sales_amount': 300, 'store_location': 'Los Angeles'}
{'_id': ObjectId('679fdb35616e69b025b4b549'), 'date': '1/2/2023', 'product_id': 'P011', 'sales_amount': 450, 'store_location': 'Chicago'}
{'_id': ObjectId('679fdb35616e69b025b4b54a'), 'date': '1/2/2023', 'product_id': 'P005', 'sales_amount': 600, 'store_location': 'New York'}
{'_id': ObjectId('679fdb35616e69b025b4b54b'), 'date': '1/2/2023', 'product_id': 'P005', 'sales_amount': 150, 'store_location': 'North Carolina'}

### **Perform CRUD operations on MongoDB**

After inserting the data, perform CRUD operations on the MongoDB database:



*   Create: Insert additional sales records into MongoDB.
*   Read: Query MongoDB to extract sales data based on store location, date, or product.
*   Update: Modify sales amounts for specific records (e.g., increase sales for a specific product).
*   Delete: Remove outdated sales records from MongoDB.

**Create: Insert additional sales records into MongoDB.**

In [ ]:
#insert addtional sales records
collection.insert_many([
    {
        "date":"1/1/1999", "product_id":"P006","sales_Amount":500,"store":"New York"
    }
])

In [ ]:
collection.insert_many([
    {"date":"1/1/1999", "product_id":"P006","sales_Amount":500,"store":"New York"
    },
    {"date":"1/13/1999", "product_id":"P003","sales_Amount":200,"store":"Chicago"
    },
    {"date":"1/14/1999", "product_id":"P004","sales_Amount":300,"store":"Los Angeles"
    },
    { "date":"1/15/1999", "product_id":"P005","sales_Amount":400,"store":"Chicago"
    },
    {"date":"1/16/1999", "product_id":"P006","sales_Amount":500,"store":"New York"
    },
    {"date":"1/17/1999", "product_id":"P007","sales_Amount":600,"store":"Los Angeles"
    },
    {"date":"1/18/1999", "product_id":"P008","sales_Amount":700,"store":"Chicago"
    },
    {"date":"1/19/1999", "product_id":"P009","sales_Amount":800,"store":"New York"
    },
    {"date":"1/20/1999", "product_id":"P010","sales_Amount":900,"store":"Los Angeles"
    },
    { "date":"4/21/1999", "product_id":"P011","sales_Amount":1000,"store":"Chicago"
    },
    {"date":"4/22/1999", "product_id":"P012","sales_Amount":1100,"store":"New York"
    },
    {"date":"4/23/1999", "product_id":"P013","sales_Amount":1200,"store":"Los Angeles"
    },
    {"date":"4/24/1999", "product_id":"P014","sales_Amount":1300,"store":"Chicago"
    },
    {"date":"4/25/1999", "product_id":"P015","sales_Amount":1400,"store":"New York"
    },
    {"date":"4/26/1999", "product_id":"P016","sales_Amount":1500,"store":"Los Angeles"
    },
    {"date":"4/27/1999", "product_id":"P017","sales_Amount":1600,"store":"Chicago"
    },
    {"date":"4/28/1999", "product_id":"P018","sales_Amount":1700,"store":"New York"
    },
    {"date":"4/29/1999", "product_id":"P019","sales_Amount":1800,"store":"Los Angeles"
    },
])

In [ ]:
#finding the First 5 records with sorting from oldest
documents = collection.find().limit(5).sort("_id", -1)
for document in documents:
    print(document)

{'_id': ObjectId('679fe05b616e69b025b4b946'), 'date': '4/29/1999', 'product_id': 'P019', 'sales_Amount': 1800, 'store': 'Los Angeles'}
{'_id': ObjectId('679fe05b616e69b025b4b945'), 'date': '4/28/1999', 'product_id': 'P018', 'sales_Amount': 1700, 'store': 'New York'}
{'_id': ObjectId('679fe05b616e69b025b4b944'), 'date': '4/27/1999', 'product_id': 'P017', 'sales_Amount': 1600, 'store': 'Chicago'}
{'_id': ObjectId('679fe05b616e69b025b4b943'), 'date': '4/26/1999', 'product_id': 'P016', 'sales_Amount': 1500, 'store': 'Los Angeles'}
{'_id': ObjectId('679fe05b616e69b025b4b942'), 'date': '4/25/1999', 'product_id': 'P015', 'sales_Amount': 1400, 'store': 'New York'}

**Read: Query MongoDB to extract sales data based on store location, date, or product.**

In [ ]:
results_sl = db.sales.aggregate([
    {"$group": { "_id": "$store_location", "total_sales": { "$sum": "$sales_amount"} }},
    {"$sort": {"total_sales": -1}}
])
for result in results_sl:
    print(result)

{'_id': 'Washington', 'total_sales': 15075}
{'_id': 'Maine', 'total_sales': 13570}
{'_id': 'Louisiana', 'total_sales': 12820}
{'_id': 'Idaho', 'total_sales': 12645}
{'_id': 'North Dakota', 'total_sales': 12570}
{'_id': 'Arkansas', 'total_sales': 12360}
{'_id': 'South Dakota', 'total_sales': 12300}
{'_id': 'Pennsylvania', 'total_sales': 12125}
{'_id': 'Montana', 'total_sales': 12015}
{'_id': 'State', 'total_sales': 11860}
{'_id': 'Nevada', 'total_sales': 11810}
{'_id': 'Alaska', 'total_sales': 11525}
{'_id': 'New York', 'total_sales': 11490}
{'_id': 'New Jersey', 'total_sales': 11420}
{'_id': 'California', 'total_sales': 11170}
{'_id': 'Mississippi', 'total_sales': 11095}
{'_id': 'Iowa', 'total_sales': 10725}
{'_id': 'Minnesota', 'total_sales': 10480}
{'_id': 'Ohio', 'total_sales': 10280}
{'_id': 'Michigan', 'total_sales': 10025}
{'_id': 'Kentucky', 'total_sales': 9810}
{'_id': 'Georgia', 'total_sales': 9800}
{'_id': 'Maryland', 'total_sales': 9585}
{'_id': 'Oregon', 'total_sales': 9450}
{'_id': 'South Carolina', 'total_sales': 9320}
{'_id': 'Kansas', 'total_sales': 9225}
{'_id': 'Rhode Island', 'total_sales': 8985}
{'_id': 'Virginia', 'total_sales': 8860}
{'_id': 'New Hampshire', 'total_sales': 8815}
{'_id': 'Florida', 'total_sales': 8755}
{'_id': 'Arizona', 'total_sales': 8290}
{'_id': 'Indiana', 'total_sales': 8015}
{'_id': 'Alabama', 'total_sales': 7980}
{'_id': 'New Mexico', 'total_sales': 7940}
{'_id': 'Utah', 'total_sales': 7900}
{'_id': 'Nebraska', 'total_sales': 7875}
{'_id': 'District of Columbia', 'total_sales': 7430}
{'_id': 'Connecticut', 'total_sales': 7425}
{'_id': 'North Carolina', 'total_sales': 6540}
{'_id': 'Massachusetts', 'total_sales': 6280}
{'_id': 'Vermont', 'total_sales': 6120}
{'_id': 'Texas', 'total_sales': 5950}
{'_id': 'Delaware', 'total_sales': 5905}
{'_id': 'Colorado', 'total_sales': 5885}
{'_id': 'Missouri', 'total_sales': 5265}
{'_id': 'Illinois', 'total_sales': 5120}
{'_id': 'Hawaii', 'total_sales': 4495}
{'_id': 'Tennessee', 'total_sales': 4435}
{'_id': 'Oklahoma', 'total_sales': 4235}
{'_id': 'West Virginia', 'total_sales': 4050}
{'_id': 'Chicago', 'total_sales': 450}
{'_id': 'Los Angeles', 'total_sales': 300}
{'_id': None, 'total_sales': 0}

In [ ]:
# Aggregate query without date filtering
sales_data = db.sales.aggregate([
    {"$group": {
        "_id": "$product_id",  # Group by product_id
        "total_sales": {"$sum": "$sales_Amount"}  # Sum sales amount for each product
    }},
    {"$project": {
        "_id": 0,  # Remove the _id field
        "product_id": "$_id",  # Rename _id to product_id
        "total_sales": 1  # Include the total sales
    }},
    {"$sort": {"total_sales": -1}}  # Sort products by total sales in descending order
])

# Print the results
for document in sales_data:
    print(f"Product ID: {document['product_id']}, Total Sales: {document['total_sales']}")

Product ID: P006, Total Sales: 2000
Product ID: P019, Total Sales: 1800
Product ID: P018, Total Sales: 1700
Product ID: P017, Total Sales: 1600
Product ID: P016, Total Sales: 1500
Product ID: P015, Total Sales: 1400
Product ID: P014, Total Sales: 1300
Product ID: P013, Total Sales: 1200
Product ID: P012, Total Sales: 1100
Product ID: P011, Total Sales: 1000
Product ID: P010, Total Sales: 900
Product ID: P009, Total Sales: 800
Product ID: P008, Total Sales: 700
Product ID: P007, Total Sales: 600
Product ID: P005, Total Sales: 400
Product ID: P004, Total Sales: 300
Product ID: P003, Total Sales: 200
Product ID: P002, Total Sales: 0
Product ID: P001, Total Sales: 0

In [ ]:
results_date = db.sales.aggregate([
    {"$group": { "_id": "$date", "total_sales": { "$sum": "$sales_amount"} }},
    {"$sort": {"total_sales": 1}}
])
for result in results_date:
    print(result)

{'_id': '4/27/1999', 'total_sales': 0}
{'_id': '4/21/1999', 'total_sales': 0}
{'_id': '4/26/1999', 'total_sales': 0}
{'_id': '4/24/1999', 'total_sales': 0}
{'_id': '1/14/1999', 'total_sales': 0}
{'_id': '1/15/1999', 'total_sales': 0}
{'_id': '1/20/1999', 'total_sales': 0}
{'_id': '1/13/1999', 'total_sales': 0}
{'_id': '4/25/1999', 'total_sales': 0}
{'_id': '1/1/1999', 'total_sales': 0}
{'_id': '4/23/1999', 'total_sales': 0}
{'_id': '1/16/1999', 'total_sales': 0}
{'_id': '1/18/1999', 'total_sales': 0}
{'_id': '4/28/1999', 'total_sales': 0}
{'_id': '4/29/1999', 'total_sales': 0}
{'_id': '1/17/1999', 'total_sales': 0}
{'_id': '1/19/1999', 'total_sales': 0}
{'_id': '4/22/1999', 'total_sales': 0}
{'_id': '12/21/2023', 'total_sales': 25}
{'_id': '4/6/2023', 'total_sales': 25}
{'_id': '8/10/2023', 'total_sales': 30}
{'_id': '4/17/2023', 'total_sales': 30}
{'_id': '1/3/2023', 'total_sales': 30}
{'_id': '3/15/2023', 'total_sales': 50}
{'_id': '11/4/2023', 'total_sales': 50}
{'_id': '3/28/2023', 'total_sales': 50}
{'_id': '7/21/2023', 'total_sales': 50}
{'_id': '8/20/2023', 'total_sales': 50}
{'_id': '9/14/2023', 'total_sales': 50}
{'_id': '2/9/2023', 'total_sales': 50}
{'_id': '7/23/2023', 'total_sales': 50}
{'_id': '3/30/2023', 'total_sales': 60}
{'_id': '2/26/2023', 'total_sales': 60}
{'_id': '5/29/2023', 'total_sales': 60}
{'_id': '9/26/2023', 'total_sales': 60}
{'_id': '8/2/2023', 'total_sales': 60}
{'_id': '6/12/2023', 'total_sales': 60}
{'_id': '10/6/2023', 'total_sales': 75}
{'_id': '9/23/2023', 'total_sales': 75}
{'_id': '11/12/2023', 'total_sales': 75}
{'_id': '5/12/2023', 'total_sales': 75}
{'_id': '12/25/2023', 'total_sales': 75}
{'_id': '3/31/2023', 'total_sales': 90}
{'_id': '7/29/2023', 'total_sales': 90}
{'_id': '4/16/2023', 'total_sales': 90}
{'_id': '6/18/2023', 'total_sales': 100}
{'_id': '5/28/2023', 'total_sales': 100}
{'_id': '3/29/2023', 'total_sales': 100}
{'_id': '6/14/2023', 'total_sales': 100}
{'_id': '6/28/2023', 'total_sales': 100}
{'_id': '2/18/2023', 'total_sales': 100}
{'_id': '8/17/2023', 'total_sales': 100}
{'_id': '1/29/2023', 'total_sales': 100}
{'_id': '3/2/2023', 'total_sales': 100}
{'_id': '1/25/2023', 'total_sales': 100}
{'_id': '1/20/2023', 'total_sales': 100}
{'_id': '9/4/2023', 'total_sales': 100}
{'_id': '7/12/2023', 'total_sales': 100}
{'_id': '3/8/2023', 'total_sales': 100}
{'_id': '2/4/2023', 'total_sales': 110}
{'_id': '1/19/2023', 'total_sales': 120}
{'_id': '7/13/2023', 'total_sales': 120}
{'_id': '7/8/2023', 'total_sales': 125}
{'_id': '12/15/2023', 'total_sales': 125}
{'_id': '10/17/2023', 'total_sales': 125}
{'_id': '11/19/2023', 'total_sales': 130}
{'_id': '11/27/2023', 'total_sales': 130}
{'_id': '10/19/2023', 'total_sales': 130}
{'_id': '11/30/2023', 'total_sales': 140}
{'_id': '4/27/2023', 'total_sales': 140}
{'_id': '2/19/2023', 'total_sales': 140}
{'_id': '11/25/2023', 'total_sales': 150}
{'_id': '9/3/2023', 'total_sales': 150}
{'_id': '7/4/2023', 'total_sales': 150}
{'_id': '3/27/2023', 'total_sales': 150}
{'_id': '9/15/2023', 'total_sales': 150}
{'_id': '1/10/2023', 'total_sales': 150}
{'_id': '7/11/2023', 'total_sales': 150}
{'_id': '5/1/2023', 'total_sales': 165}
{'_id': '11/28/2023', 'total_sales': 170}
{'_id': '11/13/2023', 'total_sales': 170}
{'_id': '11/21/2023', 'total_sales': 175}
{'_id': '5/21/2023', 'total_sales': 175}
{'_id': '10/5/2023', 'total_sales': 180}
{'_id': '9/11/2023', 'total_sales': 190}
{'_id': '11/3/2023', 'total_sales': 200}
{'_id': '7/31/2023', 'total_sales': 200}
{'_id': '4/1/2023', 'total_sales': 200}
{'_id': '3/17/2023', 'total_sales': 215}
{'_id': '3/12/2023', 'total_sales': 225}
{'_id': '4/21/2023', 'total_sales': 225}
{'_id': '10/13/2023', 'total_sales': 240}
{'_id': '9/18/2023', 'total_sales': 240}
{'_id': '4/29/2023', 'total_sales': 245}
{'_id': '10/22/2023', 'total_sales': 245}
{'_id': '10/14/2023', 'total_sales': 250}
{'_id': '10/26/2023', 'total_sales': 250}
{'_id': '1/16/2023', 'total_sales': 250}
{'_id': '8/28/2023', 'total_sales': 250}
{'_id': '11/18/2023', 'total_sales': 255}
{'_id': '8/25/2023', 'total_sales': 265}
{'_id': '4/22/2023', 'total_sales': 270}
{'_id': '6/3/2023', 'total_sales': 275}
{'_id': '10/7/2023', 'total_sales': 280}
{'_id': '1/6/2023', 'total_sales': 300}
{'_id': '10/21/2023', 'total_sales': 300}
{'_id': '10/20/2023', 'total_sales': 300}
{'_id': '8/3/2023', 'total_sales': 300}
{'_id': '11/16/2023', 'total_sales': 300}
{'_id': '10/30/2023', 'total_sales': 300}
{'_id': '6/29/2023', 'total_sales': 310}
{'_id': '12/19/2023', 'total_sales': 320}
{'_id': '7/1/2023', 'total_sales': 320}
{'_id': '12/11/2023', 'total_sales': 330}
{'_id': '12/6/2023', 'total_sales': 340}
{'_id': '1/28/2023', 'total_sales': 350}
{'_id': '5/4/2023', 'total_sales': 350}
{'_id': '5/13/2023', 'total_sales': 350}
{'_id': '10/31/2023', 'total_sales': 370}
{'_id': '12/2/2023', 'total_sales': 375}
{'_id': '4/5/2023', 'total_sales': 375}
{'_id': '3/13/2023', 'total_sales': 375}
{'_id': '2/2/2023', 'total_sales': 400}
{'_id': '6/9/2023', 'total_sales': 440}
{'_id': '1/24/2023', 'total_sales': 450}
{'_id': '3/5/2023', 'total_sales': 450}
{'_id': '1/31/2023', 'total_sales': 475}
{'_id': '9/9/2023', 'total_sales': 500}
{'_id': '7/26/2023', 'total_sales': 500}
{'_id': '5/17/2023', 'total_sales': 525}
{'_id': '4/10/2023', 'total_sales': 530}
{'_id': '12/27/2023', 'total_sales': 550}
{'_id': '1/13/2023', 'total_sales': 570}
{'_id': '8/11/2023', 'total_sales': 590}
{'_id': '9/24/2023', 'total_sales': 600}
{'_id': '11/23/2023', 'total_sales': 610}
{'_id': '3/7/2023', 'total_sales': 620}
{'_id': '7/17/2023', 'total_sales': 620}
{'_id': '8/24/2023', 'total_sales': 620}
{'_id': '7/22/2023', 'total_sales': 625}
{'_id': '1/4/2023', 'total_sales': 630}
{'_id': '8/29/2023', 'total_sales': 640}
{'_id': '8/21/2023', 'total_sales': 660}
{'_id': '3/22/2023', 'total_sales': 675}
{'_id': '10/3/2023', 'total_sales': 675}
{'_id': '11/5/2023', 'total_sales': 690}
{'_id': '5/18/2023', 'total_sales': 700}
{'_id': '12/1/2023', 'total_sales': 700}
{'_id': '12/26/2023', 'total_sales': 700}
{'_id': '5/10/2023', 'total_sales': 700}
{'_id': '8/13/2023', 'total_sales': 700}
{'_id': '6/8/2023', 'total_sales': 700}
{'_id': '6/30/2023', 'total_sales': 720}
{'_id': '10/27/2023', 'total_sales': 725}
{'_id': '3/26/2023', 'total_sales': 745}
{'_id': '1/5/2023', 'total_sales': 750}
{'_id': '11/29/2023', 'total_sales': 790}
{'_id': '1/1/2023', 'total_sales': 800}
{'_id': '12/24/2023', 'total_sales': 800}
{'_id': '4/26/2023', 'total_sales': 810}
{'_id': '5/15/2023', 'total_sales': 825}
{'_id': '3/25/2023', 'total_sales': 880}
{'_id': '9/10/2023', 'total_sales': 900}
{'_id': '12/22/2023', 'total_sales': 900}
{'_id': '6/13/2023', 'total_sales': 900}
{'_id': '3/11/2023', 'total_sales': 900}
{'_id': '6/27/2023', 'total_sales': 900}
{'_id': '5/6/2023', 'total_sales': 920}
{'_id': '12/5/2023', 'total_sales': 930}
{'_id': '3/19/2023', 'total_sales': 930}
{'_id': '11/26/2023', 'total_sales': 950}
{'_id': '12/10/2023', 'total_sales': 950}
{'_id': '6/5/2023', 'total_sales': 950}
{'_id': '6/20/2023', 'total_sales': 950}
{'_id': '4/15/2023', 'total_sales': 960}
{'_id': '12/17/2023', 'total_sales': 990}
{'_id': '12/7/2023', 'total_sales': 1000}
{'_id': '9/16/2023', 'total_sales': 1000}
{'_id': '4/11/2023', 'total_sales': 1000}
{'_id': '5/24/2023', 'total_sales': 1000}
{'_id': '12/16/2023', 'total_sales': 1025}
{'_id': '12/9/2023', 'total_sales': 1025}
{'_id': '2/14/2023', 'total_sales': 1030}
{'_id': '9/30/2023', 'total_sales': 1050}
{'_id': '4/13/2023', 'total_sales': 1080}
{'_id': '6/26/2023', 'total_sales': 1080}
{'_id': '7/16/2023', 'total_sales': 1090}
{'_id': '11/9/2023', 'total_sales': 1100}
{'_id': '10/10/2023', 'total_sales': 1100}
{'_id': '11/24/2023', 'total_sales': 1120}
{'_id': '8/18/2023', 'total_sales': 1150}
{'_id': '12/29/2023', 'total_sales': 1185}
{'_id': '4/8/2023', 'total_sales': 1200}
{'_id': '12/3/2023', 'total_sales': 1200}
{'_id': '7/6/2023', 'total_sales': 1200}
{'_id': '7/30/2023', 'total_sales': 1200}
{'_id': '1/21/2023', 'total_sales': 1225}
{'_id': '1/22/2023', 'total_sales': 1230}
{'_id': '11/6/2023', 'total_sales': 1250}
{'_id': '6/15/2023', 'total_sales': 1250}
{'_id': '3/9/2023', 'total_sales': 1260}
{'_id': '12/13/2023', 'total_sales': 1275}
{'_id': '4/28/2023', 'total_sales': 1275}
{'_id': '11/8/2023', 'total_sales': 1275}
{'_id': '10/8/2023', 'total_sales': 1275}
{'_id': '11/10/2023', 'total_sales': 1300}
{'_id': '7/27/2023', 'total_sales': 1315}
{'_id': '3/10/2023', 'total_sales': 1320}
{'_id': '5/14/2023', 'total_sales': 1325}
{'_id': '2/24/2023', 'total_sales': 1330}
{'_id': '11/22/2023', 'total_sales': 1330}
{'_id': '9/2/2023', 'total_sales': 1380}
{'_id': '10/9/2023', 'total_sales': 1400}
{'_id': '1/27/2023', 'total_sales': 1400}
{'_id': '9/19/2023', 'total_sales': 1400}
{'_id': '7/9/2023', 'total_sales': 1400}
{'_id': '6/19/2023', 'total_sales': 1400}
{'_id': '6/6/2023', 'total_sales': 1425}
{'_id': '10/11/2023', 'total_sales': 1445}
{'_id': '1/11/2023', 'total_sales': 1450}
{'_id': '6/2/2023', 'total_sales': 1470}
{'_id': '1/9/2023', 'total_sales': 1500}
{'_id': '2/12/2023', 'total_sales': 1500}
{'_id': '9/13/2023', 'total_sales': 1500}
{'_id': '5/26/2023', 'total_sales': 1500}
{'_id': '12/4/2023', 'total_sales': 1500}
{'_id': '5/11/2023', 'total_sales': 1500}
{'_id': '2/10/2023', 'total_sales': 1525}
{'_id': '10/23/2023', 'total_sales': 1530}
{'_id': '9/22/2023', 'total_sales': 1550}
{'_id': '10/15/2023', 'total_sales': 1550}
{'_id': '12/12/2023', 'total_sales': 1550}
{'_id': '8/15/2023', 'total_sales': 1570}
{'_id': '6/21/2023', 'total_sales': 1575}
{'_id': '1/7/2023', 'total_sales': 1575}
{'_id': '1/14/2023', 'total_sales': 1580}
{'_id': '5/9/2023', 'total_sales': 1590}
{'_id': '5/19/2023', 'total_sales': 1590}
{'_id': '2/20/2023', 'total_sales': 1600}
{'_id': '3/24/2023', 'total_sales': 1600}
{'_id': '6/1/2023', 'total_sales': 1615}
{'_id': '7/15/2023', 'total_sales': 1620}
{'_id': '4/2/2023', 'total_sales': 1675}
{'_id': '5/3/2023', 'total_sales': 1675}
{'_id': '4/30/2023', 'total_sales': 1680}
{'_id': '12/31/2023', 'total_sales': 1690}
{'_id': '12/18/2023', 'total_sales': 1695}
{'_id': '3/18/2023', 'total_sales': 1700}
{'_id': '2/21/2023', 'total_sales': 1700}
{'_id': '8/26/2023', 'total_sales': 1710}
{'_id': '11/15/2023', 'total_sales': 1750}
{'_id': '5/2/2023', 'total_sales': 1750}
{'_id': '9/25/2023', 'total_sales': 1775}
{'_id': '5/8/2023', 'total_sales': 1780}
{'_id': '6/7/2023', 'total_sales': 1800}
{'_id': '2/3/2023', 'total_sales': 1800}
{'_id': '9/5/2023', 'total_sales': 1800}
{'_id': '9/29/2023', 'total_sales': 1850}
{'_id': '11/14/2023', 'total_sales': 1890}
{'_id': '10/16/2023', 'total_sales': 1900}
{'_id': '8/6/2023', 'total_sales': 1900}
{'_id': '2/22/2023', 'total_sales': 1900}
{'_id': '2/8/2023', 'total_sales': 1930}
{'_id': '12/28/2023', 'total_sales': 1975}
{'_id': '8/27/2023', 'total_sales': 1980}
{'_id': '3/4/2023', 'total_sales': 2000}
{'_id': '11/20/2023', 'total_sales': 2000}
{'_id': '6/25/2023', 'total_sales': 2000}
{'_id': '2/16/2023', 'total_sales': 2000}
{'_id': '8/14/2023', 'total_sales': 2000}
{'_id': '2/23/2023', 'total_sales': 2000}
{'_id': '7/19/2023', 'total_sales': 2050}
{'_id': '1/17/2023', 'total_sales': 2075}
{'_id': '10/29/2023', 'total_sales': 2075}
{'_id': '2/25/2023', 'total_sales': 2075}
{'_id': '10/12/2023', 'total_sales': 2080}
{'_id': '8/7/2023', 'total_sales': 2100}
{'_id': '1/8/2023', 'total_sales': 2120}
{'_id': '5/20/2023', 'total_sales': 2130}
{'_id': '5/22/2023', 'total_sales': 2150}
{'_id': '7/3/2023', 'total_sales': 2150}
{'_id': '9/7/2023', 'total_sales': 2160}
{'_id': '7/25/2023', 'total_sales': 2175}
{'_id': '1/15/2023', 'total_sales': 2190}
{'_id': '6/16/2023', 'total_sales': 2200}
{'_id': '1/2/2023', 'total_sales': 2200}
{'_id': '4/24/2023', 'total_sales': 2200}
{'_id': '5/25/2023', 'total_sales': 2200}
{'_id': '10/25/2023', 'total_sales': 2200}
{'_id': '12/20/2023', 'total_sales': 2210}
{'_id': '2/27/2023', 'total_sales': 2245}
{'_id': '3/21/2023', 'total_sales': 2250}
{'_id': '6/17/2023', 'total_sales': 2250}
{'_id': '9/8/2023', 'total_sales': 2250}
{'_id': '7/28/2023', 'total_sales': 2260}
{'_id': '5/27/2023', 'total_sales': 2275}
{'_id': '12/14/2023', 'total_sales': 2300}
{'_id': '6/10/2023', 'total_sales': 2310}
{'_id': '11/17/2023', 'total_sales': 2350}
{'_id': '4/19/2023', 'total_sales': 2350}
{'_id': '4/12/2023', 'total_sales': 2360}
{'_id': '4/25/2023', 'total_sales': 2400}
{'_id': '8/9/2023', 'total_sales': 2420}
{'_id': '11/1/2023', 'total_sales': 2425}
{'_id': '6/24/2023', 'total_sales': 2485}
{'_id': '9/21/2023', 'total_sales': 2500}
{'_id': '3/6/2023', 'total_sales': 2500}
{'_id': '4/18/2023', 'total_sales': 2520}
{'_id': '10/24/2023', 'total_sales': 2530}
{'_id': '1/26/2023', 'total_sales': 2550}
{'_id': '8/1/2023', 'total_sales': 2550}
{'_id': '2/17/2023', 'total_sales': 2580}
{'_id': '8/5/2023', 'total_sales': 2595}
{'_id': '8/23/2023', 'total_sales': 2600}
{'_id': '11/2/2023', 'total_sales': 2600}
{'_id': '8/12/2023', 'total_sales': 2625}
{'_id': '2/6/2023', 'total_sales': 2650}
{'_id': '6/11/2023', 'total_sales': 2655}
{'_id': '2/7/2023', 'total_sales': 2660}
{'_id': '9/1/2023', 'total_sales': 2700}
{'_id': '3/20/2023', 'total_sales': 2775}
{'_id': '3/1/2023', 'total_sales': 2800}
{'_id': '9/17/2023', 'total_sales': 2880}
{'_id': '11/7/2023', 'total_sales': 2900}
{'_id': '10/18/2023', 'total_sales': 2900}
{'_id': '5/30/2023', 'total_sales': 2900}
{'_id': '8/22/2023', 'total_sales': 2900}
{'_id': '9/28/2023', 'total_sales': 2900}
{'_id': '8/8/2023', 'total_sales': 2960}
{'_id': '4/4/2023', 'total_sales': 3000}
{'_id': '5/31/2023', 'total_sales': 3090}
{'_id': '2/13/2023', 'total_sales': 3150}
{'_id': '10/2/2023', 'total_sales': 3160}
{'_id': '6/23/2023', 'total_sales': 3200}
{'_id': '2/5/2023', 'total_sales': 3230}
{'_id': '10/1/2023', 'total_sales': 3250}
{'_id': '7/24/2023', 'total_sales': 3260}
{'_id': '12/23/2023', 'total_sales': 3280}
{'_id': '6/4/2023', 'total_sales': 3300}
{'_id': '8/31/2023', 'total_sales': 3330}
{'_id': '8/19/2023', 'total_sales': 3350}
{'_id': '6/22/2023', 'total_sales': 3380}
{'_id': '1/23/2023', 'total_sales': 3400}
{'_id': '5/23/2023', 'total_sales': 3415}
{'_id': '5/7/2023', 'total_sales': 3480}
{'_id': '4/9/2023', 'total_sales': 3500}
{'_id': '12/8/2023', 'total_sales': 3530}
{'_id': '1/30/2023', 'total_sales': 3530}
{'_id': '4/23/2023', 'total_sales': 3540}
{'_id': '5/5/2023', 'total_sales': 3590}
{'_id': '8/4/2023', 'total_sales': 3650}
{'_id': '7/5/2023', 'total_sales': 3650}
{'_id': '3/3/2023', 'total_sales': 3910}
{'_id': '2/28/2023', 'total_sales': 4000}
{'_id': '7/14/2023', 'total_sales': 4030}
{'_id': '9/6/2023', 'total_sales': 4050}
{'_id': '2/1/2023', 'total_sales': 4090}
{'_id': '2/11/2023', 'total_sales': 4225}
{'_id': '10/4/2023', 'total_sales': 4245}
{'_id': '3/23/2023', 'total_sales': 4560}
{'_id': '4/20/2023', 'total_sales': 4700}
{'_id': '5/16/2023', 'total_sales': 5190}

In [ ]:
resluts_product = db.sales.aggregate([
    {"$group": { "_id": "$product_id", "total_sales": { "$sum": "$sales_amount"} }},
    {"$sort": {"total_sales": -1}}
])
for result in resluts_product:
    print(result)

{'_id': 'P005', 'total_sales': 52620}
{'_id': 'P008', 'total_sales': 46580}
{'_id': 'P011', 'total_sales': 41765}
{'_id': 'P004', 'total_sales': 41190}
{'_id': 'P007', 'total_sales': 40615}
{'_id': 'P009', 'total_sales': 34885}
{'_id': 'P003', 'total_sales': 34850}
{'_id': 'P001', 'total_sales': 34385}
{'_id': 'P002', 'total_sales': 33900}
{'_id': 'P012', 'total_sales': 33420}
{'_id': 'P010', 'total_sales': 32875}
{'_id': 'P006', 'total_sales': 30765}
{'_id': 'P017', 'total_sales': 0}
{'_id': 'P014', 'total_sales': 0}
{'_id': 'P016', 'total_sales': 0}
{'_id': 'P019', 'total_sales': 0}
{'_id': 'P015', 'total_sales': 0}
{'_id': 'P013', 'total_sales': 0}
{'_id': 'P018', 'total_sales': 0}

In [ ]:
#Modify sales amounts for specific records (e.g., increase sales for a specific product).
collection.update_many(
    {"product_id": "P018"},
    {"$inc": {"sales_Amount": 250}}
)

In [ ]:
#get records for product P018
documents = collection.find({"product_id": "P018"})
for document in documents:
    print(document)

{'_id': ObjectId('679fe05b616e69b025b4b945'), 'date': '4/28/1999', 'product_id': 'P018', 'sales_Amount': 1950, 'store': 'New York'}

In [ ]:
collection.update_one(
    {"product_id": "P018"},
    {"$inc": {"sales_Amount": 250}}
)

In [ ]:
#get records for product P018
documents = collection.find({"product_id": "P018"})
for document in documents:
    print(document)

{'_id': ObjectId('679fe05b616e69b025b4b945'), 'date': '4/28/1999', 'product_id': 'P018', 'sales_Amount': 2200, 'store': 'New York'}

**Delete: Remove outdated sales records from MongoDB.**

**Deleted Records on a certain period of time**

In [ ]:
#delete Records from_to_date
start_date = "1/1/1999"
end_date = "12/31/1999"

result = db.sales.delete_many({
    "date": {"$gte": start_date, "$lte": end_date}
})

# Print how many documents were deleted
print(f"Documents deleted: {result.deleted_count}")

Documents deleted: 324

In [ ]:
results_date = db.sales.aggregate([
    {"$group": { "_id": "$date", "total_sales": { "$sum": "$sales_amount"} }},
    {"$sort": {"date": 1}}
])
for result in results_date:
    print(result)

{'_id': '4/2/2023', 'total_sales': 1675}
{'_id': '7/3/2023', 'total_sales': 2150}
{'_id': '3/7/2023', 'total_sales': 620}
{'_id': '3/30/2023', 'total_sales': 60}
{'_id': '2/7/2023', 'total_sales': 2660}
{'_id': '8/9/2023', 'total_sales': 2420}
{'_id': '5/28/2023', 'total_sales': 100}
{'_id': '9/29/2023', 'total_sales': 1850}
{'_id': '6/28/2023', 'total_sales': 100}
{'_id': '6/9/2023', 'total_sales': 440}
{'_id': '6/8/2023', 'total_sales': 700}
{'_id': '8/13/2023', 'total_sales': 700}
{'_id': '5/13/2023', 'total_sales': 350}
{'_id': '6/19/2023', 'total_sales': 1400}
{'_id': '3/1/2023', 'total_sales': 2800}
{'_id': '3/21/2023', 'total_sales': 2250}
{'_id': '2/11/2023', 'total_sales': 4225}
{'_id': '8/19/2023', 'total_sales': 3350}
{'_id': '4/30/2023', 'total_sales': 1680}
{'_id': '2/26/2023', 'total_sales': 60}
{'_id': '4/21/1999', 'total_sales': 0}
{'_id': '8/12/2023', 'total_sales': 2625}
{'_id': '3/27/2023', 'total_sales': 150}
{'_id': '9/4/2023', 'total_sales': 100}
{'_id': '5/14/2023', 'total_sales': 1325}
{'_id': '6/6/2023', 'total_sales': 1425}
{'_id': '4/12/2023', 'total_sales': 2360}
{'_id': '6/18/2023', 'total_sales': 100}
{'_id': '9/11/2023', 'total_sales': 190}
{'_id': '6/27/2023', 'total_sales': 900}
{'_id': '5/26/2023', 'total_sales': 1500}
{'_id': '7/28/2023', 'total_sales': 2260}
{'_id': '12/9/2023', 'total_sales': 1025}
{'_id': '4/13/2023', 'total_sales': 1080}
{'_id': '2/8/2023', 'total_sales': 1930}
{'_id': '6/29/2023', 'total_sales': 310}
{'_id': '2/25/2023', 'total_sales': 2075}
{'_id': '4/27/2023', 'total_sales': 140}
{'_id': '5/2/2023', 'total_sales': 1750}
{'_id': '7/25/2023', 'total_sales': 2175}
{'_id': '3/11/2023', 'total_sales': 900}
{'_id': '3/13/2023', 'total_sales': 375}
{'_id': '4/24/1999', 'total_sales': 0}
{'_id': '9/16/2023', 'total_sales': 1000}
{'_id': '5/24/2023', 'total_sales': 1000}
{'_id': '8/15/2023', 'total_sales': 1570}
{'_id': '3/25/2023', 'total_sales': 880}
{'_id': '2/5/2023', 'total_sales': 3230}
{'_id': '7/16/2023', 'total_sales': 1090}
{'_id': '8/1/2023', 'total_sales': 2550}
{'_id': '4/10/2023', 'total_sales': 530}
{'_id': '5/6/2023', 'total_sales': 920}
{'_id': '9/3/2023', 'total_sales': 150}
{'_id': '4/29/2023', 'total_sales': 245}
{'_id': '8/3/2023', 'total_sales': 300}
{'_id': '6/2/2023', 'total_sales': 1470}
{'_id': '4/23/1999', 'total_sales': 0}
{'_id': '4/24/2023', 'total_sales': 2200}
{'_id': '8/27/2023', 'total_sales': 1980}
{'_id': '2/14/2023', 'total_sales': 1030}
{'_id': '4/25/1999', 'total_sales': 0}
{'_id': '2/6/2023', 'total_sales': 2650}
{'_id': '5/8/2023', 'total_sales': 1780}
{'_id': '4/6/2023', 'total_sales': 25}
{'_id': '5/9/2023', 'total_sales': 1590}
{'_id': '3/9/2023', 'total_sales': 1260}
{'_id': '3/6/2023', 'total_sales': 2500}
{'_id': '7/12/2023', 'total_sales': 100}
{'_id': '8/28/2023', 'total_sales': 250}
{'_id': '9/26/2023', 'total_sales': 60}
{'_id': '12/4/2023', 'total_sales': 1500}
{'_id': '8/18/2023', 'total_sales': 1150}
{'_id': '7/15/2023', 'total_sales': 1620}
{'_id': '7/14/2023', 'total_sales': 4030}
{'_id': '5/15/2023', 'total_sales': 825}
{'_id': '7/27/2023', 'total_sales': 1315}
{'_id': '5/7/2023', 'total_sales': 3480}
{'_id': '5/21/2023', 'total_sales': 175}
{'_id': '3/31/2023', 'total_sales': 90}
{'_id': '6/3/2023', 'total_sales': 275}
{'_id': '5/3/2023', 'total_sales': 1675}
{'_id': '6/15/2023', 'total_sales': 1250}
{'_id': '7/6/2023', 'total_sales': 1200}
{'_id': '6/17/2023', 'total_sales': 2250}
{'_id': '8/20/2023', 'total_sales': 50}
{'_id': '2/17/2023', 'total_sales': 2580}
{'_id': '8/24/2023', 'total_sales': 620}
{'_id': '9/24/2023', 'total_sales': 600}
{'_id': '4/22/1999', 'total_sales': 0}
{'_id': '2/2/2023', 'total_sales': 400}
{'_id': '4/1/2023', 'total_sales': 200}
{'_id': '9/7/2023', 'total_sales': 2160}
{'_id': '6/22/2023', 'total_sales': 3380}
{'_id': '5/25/2023', 'total_sales': 2200}
{'_id': '4/26/1999', 'total_sales': 0}
{'_id': '3/12/2023', 'total_sales': 225}
{'_id': '6/10/2023', 'total_sales': 2310}
{'_id': '2/19/2023', 'total_sales': 140}
{'_id': '9/22/2023', 'total_sales': 1550}
{'_id': '8/11/2023', 'total_sales': 590}
{'_id': '3/26/2023', 'total_sales': 745}
{'_id': '3/22/2023', 'total_sales': 675}
{'_id': '4/26/2023', 'total_sales': 810}
{'_id': '2/22/2023', 'total_sales': 1900}
{'_id': '8/23/2023', 'total_sales': 2600}
{'_id': '2/12/2023', 'total_sales': 1500}
{'_id': '7/11/2023', 'total_sales': 150}
{'_id': '9/6/2023', 'total_sales': 4050}
{'_id': '3/23/2023', 'total_sales': 4560}
{'_id': '3/10/2023', 'total_sales': 1320}
{'_id': '9/9/2023', 'total_sales': 500}
{'_id': '9/5/2023', 'total_sales': 1800}
{'_id': '5/30/2023', 'total_sales': 2900}
{'_id': '4/5/2023', 'total_sales': 375}
{'_id': '8/25/2023', 'total_sales': 265}
{'_id': '6/14/2023', 'total_sales': 100}
{'_id': '7/31/2023', 'total_sales': 200}
{'_id': '9/17/2023', 'total_sales': 2880}
{'_id': '5/11/2023', 'total_sales': 1500}
{'_id': '5/27/2023', 'total_sales': 2275}
{'_id': '2/13/2023', 'total_sales': 3150}
{'_id': '9/14/2023', 'total_sales': 50}
{'_id': '4/17/2023', 'total_sales': 30}
{'_id': '5/17/2023', 'total_sales': 525}
{'_id': '6/1/2023', 'total_sales': 1615}
{'_id': '8/10/2023', 'total_sales': 30}
{'_id': '9/23/2023', 'total_sales': 75}
{'_id': '9/19/2023', 'total_sales': 1400}
{'_id': '3/3/2023', 'total_sales': 3910}
{'_id': '7/23/2023', 'total_sales': 50}
{'_id': '6/25/2023', 'total_sales': 2000}
{'_id': '5/4/2023', 'total_sales': 350}
{'_id': '2/10/2023', 'total_sales': 1525}
{'_id': '3/19/2023', 'total_sales': 930}
{'_id': '3/29/2023', 'total_sales': 100}
{'_id': '5/20/2023', 'total_sales': 2130}
{'_id': '8/4/2023', 'total_sales': 3650}
{'_id': '9/10/2023', 'total_sales': 900}
{'_id': '5/29/2023', 'total_sales': 60}
{'_id': '2/27/2023', 'total_sales': 2245}
{'_id': '5/19/2023', 'total_sales': 1590}
{'_id': '9/21/2023', 'total_sales': 2500}
{'_id': '2/21/2023', 'total_sales': 1700}
{'_id': '3/8/2023', 'total_sales': 100}
{'_id': '9/18/2023', 'total_sales': 240}
{'_id': '4/20/2023', 'total_sales': 4700}
{'_id': '5/12/2023', 'total_sales': 75}
{'_id': '6/24/2023', 'total_sales': 2485}
{'_id': '8/22/2023', 'total_sales': 2900}
{'_id': '2/23/2023', 'total_sales': 2000}
{'_id': '7/9/2023', 'total_sales': 1400}
{'_id': '9/15/2023', 'total_sales': 150}
{'_id': '6/26/2023', 'total_sales': 1080}
{'_id': '6/13/2023', 'total_sales': 900}
{'_id': '5/23/2023', 'total_sales': 3415}
{'_id': '7/22/2023', 'total_sales': 625}
{'_id': '6/4/2023', 'total_sales': 3300}
{'_id': '4/8/2023', 'total_sales': 1200}
{'_id': '6/5/2023', 'total_sales': 950}
{'_id': '5/16/2023', 'total_sales': 5190}
{'_id': '6/20/2023', 'total_sales': 950}
{'_id': '7/21/2023', 'total_sales': 50}
{'_id': '9/25/2023', 'total_sales': 1775}
{'_id': '3/24/2023', 'total_sales': 1600}
{'_id': '9/13/2023', 'total_sales': 1500}
{'_id': '7/19/2023', 'total_sales': 2050}
{'_id': '8/14/2023', 'total_sales': 2000}
{'_id': '4/23/2023', 'total_sales': 3540}
{'_id': '6/7/2023', 'total_sales': 1800}
{'_id': '7/17/2023', 'total_sales': 620}
{'_id': '5/5/2023', 'total_sales': 3590}
{'_id': '7/8/2023', 'total_sales': 125}
{'_id': '2/9/2023', 'total_sales': 50}
{'_id': '4/25/2023', 'total_sales': 2400}
{'_id': '7/1/2023', 'total_sales': 320}
{'_id': '4/11/2023', 'total_sales': 1000}
{'_id': '9/2/2023', 'total_sales': 1380}
{'_id': '8/31/2023', 'total_sales': 3330}
{'_id': '4/15/2023', 'total_sales': 960}
{'_id': '8/21/2023', 'total_sales': 660}
{'_id': '2/24/2023', 'total_sales': 1330}
{'_id': '3/2/2023', 'total_sales': 100}
{'_id': '5/31/2023', 'total_sales': 3090}
{'_id': '3/4/2023', 'total_sales': 2000}
{'_id': '2/1/2023', 'total_sales': 4090}
{'_id': '8/2/2023', 'total_sales': 60}
{'_id': '12/6/2023', 'total_sales': 340}
{'_id': '8/5/2023', 'total_sales': 2595}
{'_id': '8/26/2023', 'total_sales': 1710}
{'_id': '2/28/2023', 'total_sales': 4000}
{'_id': '7/5/2023', 'total_sales': 3650}
{'_id': '2/20/2023', 'total_sales': 1600}
{'_id': '6/16/2023', 'total_sales': 2200}
{'_id': '3/18/2023', 'total_sales': 1700}
{'_id': '4/22/2023', 'total_sales': 270}
{'_id': '7/24/2023', 'total_sales': 3260}
{'_id': '12/31/2023', 'total_sales': 1690}
{'_id': '7/29/2023', 'total_sales': 90}
{'_id': '9/28/2023', 'total_sales': 2900}
{'_id': '4/19/2023', 'total_sales': 2350}
{'_id': '4/21/2023', 'total_sales': 225}
{'_id': '7/30/2023', 'total_sales': 1200}
{'_id': '8/6/2023', 'total_sales': 1900}
{'_id': '3/17/2023', 'total_sales': 215}
{'_id': '12/5/2023', 'total_sales': 930}
{'_id': '4/28/1999', 'total_sales': 0}
{'_id': '6/23/2023', 'total_sales': 3200}
{'_id': '9/1/2023', 'total_sales': 2700}
{'_id': '5/1/2023', 'total_sales': 165}
{'_id': '2/18/2023', 'total_sales': 100}
{'_id': '4/28/2023', 'total_sales': 1275}
{'_id': '12/8/2023', 'total_sales': 3530}
{'_id': '5/22/2023', 'total_sales': 2150}
{'_id': '8/8/2023', 'total_sales': 2960}
{'_id': '7/4/2023', 'total_sales': 150}
{'_id': '8/17/2023', 'total_sales': 100}
{'_id': '7/26/2023', 'total_sales': 500}
{'_id': '2/3/2023', 'total_sales': 1800}
{'_id': '6/30/2023', 'total_sales': 720}
{'_id': '3/5/2023', 'total_sales': 450}
{'_id': '8/7/2023', 'total_sales': 2100}
{'_id': '12/7/2023', 'total_sales': 1000}
{'_id': '6/11/2023', 'total_sales': 2655}
{'_id': '8/29/2023', 'total_sales': 640}
{'_id': '2/16/2023', 'total_sales': 2000}
{'_id': '4/18/2023', 'total_sales': 2520}
{'_id': '7/13/2023', 'total_sales': 120}
{'_id': '4/9/2023', 'total_sales': 3500}
{'_id': '4/4/2023', 'total_sales': 3000}
{'_id': '9/8/2023', 'total_sales': 2250}
{'_id': '6/12/2023', 'total_sales': 60}
{'_id': '3/20/2023', 'total_sales': 2775}
{'_id': '3/28/2023', 'total_sales': 50}
{'_id': '4/29/1999', 'total_sales': 0}
{'_id': '5/10/2023', 'total_sales': 700}
{'_id': '3/15/2023', 'total_sales': 50}
{'_id': '2/4/2023', 'total_sales': 110}
{'_id': '6/21/2023', 'total_sales': 1575}
{'_id': '9/30/2023', 'total_sales': 1050}
{'_id': '5/18/2023', 'total_sales': 700}
{'_id': '4/27/1999', 'total_sales': 0}
{'_id': '4/16/2023', 'total_sales': 90}

**After Deleting Some Records in Year 1999 still avialble**

In [ ]:
#finding the First 5 records with sorting from oldest
documents = collection.find().limit(10).sort("_id", -1)
for document in documents:
    print(document)

{'_id': ObjectId('679fe05b616e69b025b4b946'), 'date': '4/29/1999', 'product_id': 'P019', 'sales_Amount': 1800, 'store': 'Los Angeles'}
{'_id': ObjectId('679fe05b616e69b025b4b945'), 'date': '4/28/1999', 'product_id': 'P018', 'sales_Amount': 2200, 'store': 'New York'}
{'_id': ObjectId('679fe05b616e69b025b4b944'), 'date': '4/27/1999', 'product_id': 'P017', 'sales_Amount': 1600, 'store': 'Chicago'}
{'_id': ObjectId('679fe05b616e69b025b4b943'), 'date': '4/26/1999', 'product_id': 'P016', 'sales_Amount': 1500, 'store': 'Los Angeles'}
{'_id': ObjectId('679fe05b616e69b025b4b942'), 'date': '4/25/1999', 'product_id': 'P015', 'sales_Amount': 1400, 'store': 'New York'}
{'_id': ObjectId('679fe05b616e69b025b4b941'), 'date': '4/24/1999', 'product_id': 'P014', 'sales_Amount': 1300, 'store': 'Chicago'}
{'_id': ObjectId('679fe05b616e69b025b4b940'), 'date': '4/23/1999', 'product_id': 'P013', 'sales_Amount': 1200, 'store': 'Los Angeles'}
{'_id': ObjectId('679fe05b616e69b025b4b93f'), 'date': '4/22/1999', 'product_id': 'P012', 'sales_Amount': 1100, 'store': 'New York'}
{'_id': ObjectId('679fe05b616e69b025b4b93e'), 'date': '4/21/1999', 'product_id': 'P011', 'sales_Amount': 1000, 'store': 'Chicago'}
{'_id': ObjectId('679fdb35616e69b025b4b932'), 'date': '12/31/2023', 'product_id': 'P006', 'sales_amount': 120, 'store_location': 'Mississippi'}

**Delete Based on ObjectID**

In [ ]:
from bson import ObjectId

# Define the ObjectId to be deleted
ids_to_delete = [
    ObjectId('679fe05b616e69b025b4b946'),
    ObjectId('679fe05b616e69b025b4b945'),
    #
]

# Delete documents with the specified ObjectIds
result = db.sales.delete_many({
    "_id": {"$in": ids_to_delete}
})

# Print how many documents were deleted
print(f"Documents deleted: {result.deleted_count}")

Documents deleted: 2

In [ ]:
#finding the First 5 records with sorting from oldest
documents = collection.find().limit(10).sort("_id", -1)
for document in documents:
    print(document)

{'_id': ObjectId('679fe05b616e69b025b4b944'), 'date': '4/27/1999', 'product_id': 'P017', 'sales_Amount': 1600, 'store': 'Chicago'}
{'_id': ObjectId('679fe05b616e69b025b4b943'), 'date': '4/26/1999', 'product_id': 'P016', 'sales_Amount': 1500, 'store': 'Los Angeles'}
{'_id': ObjectId('679fe05b616e69b025b4b942'), 'date': '4/25/1999', 'product_id': 'P015', 'sales_Amount': 1400, 'store': 'New York'}
{'_id': ObjectId('679fe05b616e69b025b4b941'), 'date': '4/24/1999', 'product_id': 'P014', 'sales_Amount': 1300, 'store': 'Chicago'}
{'_id': ObjectId('679fe05b616e69b025b4b940'), 'date': '4/23/1999', 'product_id': 'P013', 'sales_Amount': 1200, 'store': 'Los Angeles'}
{'_id': ObjectId('679fe05b616e69b025b4b93f'), 'date': '4/22/1999', 'product_id': 'P012', 'sales_Amount': 1100, 'store': 'New York'}
{'_id': ObjectId('679fe05b616e69b025b4b93e'), 'date': '4/21/1999', 'product_id': 'P011', 'sales_Amount': 1000, 'store': 'Chicago'}
{'_id': ObjectId('679fdb35616e69b025b4b932'), 'date': '12/31/2023', 'product_id': 'P006', 'sales_amount': 120, 'store_location': 'Mississippi'}
{'_id': ObjectId('679fdb35616e69b025b4b931'), 'date': '12/31/2023', 'product_id': 'P011', 'sales_amount': 150, 'store_location': 'North Carolina'}
{'_id': ObjectId('679fdb35616e69b025b4b930'), 'date': '12/31/2023', 'product_id': 'P009', 'sales_amount': 100, 'store_location': 'Rhode Island'}

In [ ]:
from bson import ObjectId

# Define the ObjectIds you want to delete
ids_to_delete = [
    ObjectId('679fe05b616e69b025b4b944'),
    ObjectId('679fe05b616e69b025b4b943'),
    ObjectId('679fe05b616e69b025b4b942'),
    ObjectId('679fe05b616e69b025b4b941'),
    ObjectId('679fe05b616e69b025b4b940'),
    ObjectId('679fe05b616e69b025b4b93f'),
    ObjectId('679fe05b616e69b025b4b93e')

    #
]

# Delete documents with the specified ObjectIds
result = db.sales.delete_many({
    "_id": {"$in": ids_to_delete}
})

# Print how many documents were deleted
print(f"Documents deleted: {result.deleted_count}")

Documents deleted: 7

In [ ]:
#finding the First 5 records with sorting from oldest
documents = collection.find().limit(5).sort("_id", -1)
for document in documents:
    print(document)

{'_id': ObjectId('679fdb35616e69b025b4b932'), 'date': '12/31/2023', 'product_id': 'P006', 'sales_amount': 120, 'store_location': 'Mississippi'}
{'_id': ObjectId('679fdb35616e69b025b4b931'), 'date': '12/31/2023', 'product_id': 'P011', 'sales_amount': 150, 'store_location': 'North Carolina'}
{'_id': ObjectId('679fdb35616e69b025b4b930'), 'date': '12/31/2023', 'product_id': 'P009', 'sales_amount': 100, 'store_location': 'Rhode Island'}
{'_id': ObjectId('679fdb35616e69b025b4b92f'), 'date': '12/31/2023', 'product_id': 'P010', 'sales_amount': 90, 'store_location': 'New Hampshire'}
{'_id': ObjectId('679fdb35616e69b025b4b92e'), 'date': '12/31/2023', 'product_id': 'P011', 'sales_amount': 50, 'store_location': 'Nebraska'}

### **Installing Dash**

In [ ]:
!pip install dash

Collecting dash
  Downloading dash-2.18.2-py3-none-any.whl.metadata (10 kB)
Collecting Flask<3.1,>=1.0.4 (from dash)
  Downloading flask-3.0.3-py3-none-any.whl.metadata (3.2 kB)
Collecting Werkzeug<3.1 (from dash)
  Downloading werkzeug-3.0.6-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.11/dist-packages (from dash) (5.24.1)
Collecting dash-html-components==2.0.0 (from dash)
  Downloading dash_html_components-2.0.0-py3-none-any.whl.metadata (3.8 kB)
Collecting dash-core-components==2.0.0 (from dash)
  Downloading dash_core_components-2.0.0-py3-none-any.whl.metadata (2.9 kB)
Collecting dash-table==5.0.0 (from dash)
  Downloading dash_table-5.0.0-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.11/dist-packages (from dash) (8.6.1)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.11/dist-packages (from dash) (4.12.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from dash) (2.32.3)
Collecting retrying (from dash)
  Downloading retrying-1.3.4-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.11/dist-packages (from dash) (1.6.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from dash) (75.1.0)
Requirement already satisfied: Jinja2>=3.1.2 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (3.1.5)
Requirement already satisfied: itsdangerous>=2.1.2 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (2.2.0)
Requirement already satisfied: click>=8.1.3 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (8.1.8)
Requirement already satisfied: blinker>=1.6.2 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (1.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly>=5.0.0->dash) (9.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from plotly>=5.0.0->dash) (24.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.11/dist-packages (from Werkzeug<3.1->dash) (3.0.2)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib-metadata->dash) (3.21.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (2024.12.14)
Requirement already satisfied: six>=1.7.0 in /usr/local/lib/python3.11/dist-packages (from retrying->dash) (1.17.0)
Downloading dash-2.18.2-py3-none-any.whl (7.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 81.3 MB/s eta 0:00:00
Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Downloading flask-3.0.3-py3-none-any.whl (101 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.7/101.7 kB 9.2 MB/s eta 0:00:00
Downloading werkzeug-3.0.6-py3-none-any.whl (227 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 228.0/228.0 kB 19.7 MB/s eta 0:00:00
Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Installing collected packages: dash-table, dash-html-components, dash-core-components, Werkzeug, retrying, Flask, dash
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 3.1.3
    Uninstalling Werkzeug-3.1.3:
      Successfully uninstalled Werkzeug-3.1.3
  Attempting uninstall: Flask
    Found existing installation: Flask 3.1.0
    Uninstalling Flask-3.1.0:
      Successfully uninstalled Flask-3.1.0
Successfully installed Flask-3.0.3 Werkzeug-3.0.6 dash-2.18.2 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 retrying-1.3.4

In [ ]:
#finding the First 5 records with sorting from oldest
documents = collection.find().limit(10).sort("_id", -1)
for document in documents:
    print(document)

{'_id': ObjectId('679fdb35616e69b025b4b932'), 'date': '12/31/2023', 'product_id': 'P006', 'sales_amount': 120, 'store_location': 'Mississippi'}
{'_id': ObjectId('679fdb35616e69b025b4b931'), 'date': '12/31/2023', 'product_id': 'P011', 'sales_amount': 150, 'store_location': 'North Carolina'}
{'_id': ObjectId('679fdb35616e69b025b4b930'), 'date': '12/31/2023', 'product_id': 'P009', 'sales_amount': 100, 'store_location': 'Rhode Island'}
{'_id': ObjectId('679fdb35616e69b025b4b92f'), 'date': '12/31/2023', 'product_id': 'P010', 'sales_amount': 90, 'store_location': 'New Hampshire'}
{'_id': ObjectId('679fdb35616e69b025b4b92e'), 'date': '12/31/2023', 'product_id': 'P011', 'sales_amount': 50, 'store_location': 'Nebraska'}
{'_id': ObjectId('679fdb35616e69b025b4b92d'), 'date': '12/31/2023', 'product_id': 'P008', 'sales_amount': 30, 'store_location': 'Montana'}
{'_id': ObjectId('679fdb35616e69b025b4b92c'), 'date': '12/31/2023', 'product_id': 'P008', 'sales_amount': 1000, 'store_location': 'Pennsylvania'}
{'_id': ObjectId('679fdb35616e69b025b4b92b'), 'date': '12/31/2023', 'product_id': 'P001', 'sales_amount': 150, 'store_location': 'Oregon'}
{'_id': ObjectId('679fdb35616e69b025b4b8f0'), 'date': '12/9/2023', 'product_id': 'P012', 'sales_amount': 500, 'store_location': 'Delaware'}
{'_id': ObjectId('679fdb35616e69b025b4b8ef'), 'date': '12/9/2023', 'product_id': 'P010', 'sales_amount': 30, 'store_location': 'Alaska'}

**Recalling The Crud Operation of Total Sales by Store Location**

In [ ]:
results_sl = db.sales.aggregate([
    {"$group": { "_id": "$store_location", "total_sales": { "$sum": "$sales_amount"} }},
    {
        "$project": {
            "_id": 0,  #
            "store_location": "$_id",
            "total_sales": 1
        }
    }
])
for result in results_sl:
    print(result)

{'total_sales': 7235, 'store_location': 'Virginia'}
{'total_sales': 5950, 'store_location': 'Arizona'}
{'total_sales': 7185, 'store_location': 'Indiana'}
{'total_sales': 9020, 'store_location': 'Louisiana'}
{'total_sales': 8695, 'store_location': 'Iowa'}
{'total_sales': 7115, 'store_location': 'Maryland'}
{'total_sales': 7390, 'store_location': 'Oregon'}
{'total_sales': 4510, 'store_location': 'Vermont'}
{'total_sales': 5230, 'store_location': 'Alabama'}
{'total_sales': 8120, 'store_location': 'North Dakota'}
{'total_sales': 3320, 'store_location': 'West Virginia'}
{'total_sales': 3220, 'store_location': 'Texas'}
{'total_sales': 11700, 'store_location': 'South Dakota'}
{'total_sales': 6390, 'store_location': 'North Carolina'}
{'total_sales': 5380, 'store_location': 'Florida'}
{'total_sales': 2295, 'store_location': 'Hawaii'}
{'total_sales': 4340, 'store_location': 'Illinois'}
{'total_sales': 7105, 'store_location': 'Nevada'}
{'total_sales': 3650, 'store_location': 'Connecticut'}
{'total_sales': 2605, 'store_location': 'Rhode Island'}
{'total_sales': 2910, 'store_location': 'Massachusetts'}
{'total_sales': 8245, 'store_location': 'Idaho'}
{'total_sales': 8210, 'store_location': 'Michigan'}
{'total_sales': 10755, 'store_location': 'Alaska'}
{'total_sales': 9730, 'store_location': 'Ohio'}
{'total_sales': 10460, 'store_location': 'State'}
{'total_sales': 5550, 'store_location': 'District of Columbia'}
{'total_sales': 5890, 'store_location': 'Arkansas'}
{'total_sales': 4255, 'store_location': 'Delaware'}
{'total_sales': 8720, 'store_location': 'New York'}
{'total_sales': 4720, 'store_location': 'Colorado'}
{'total_sales': 8145, 'store_location': 'California'}
{'total_sales': 7050, 'store_location': 'Utah'}
{'total_sales': 7565, 'store_location': 'New Hampshire'}
{'total_sales': 2800, 'store_location': 'Oklahoma'}
{'total_sales': 5595, 'store_location': 'New Mexico'}
{'total_sales': 9060, 'store_location': 'Montana'}
{'total_sales': 6585, 'store_location': 'Minnesota'}
{'total_sales': 5600, 'store_location': 'Kansas'}
{'total_sales': 9925, 'store_location': 'Maine'}
{'total_sales': 10645, 'store_location': 'Mississippi'}
{'total_sales': 3245, 'store_location': 'Tennessee'}
{'total_sales': 3035, 'store_location': 'Missouri'}
{'total_sales': 5660, 'store_location': 'South Carolina'}
{'total_sales': 6550, 'store_location': 'New Jersey'}
{'total_sales': 5395, 'store_location': 'Nebraska'}
{'total_sales': 7240, 'store_location': 'Georgia'}
{'total_sales': 9680, 'store_location': 'Kentucky'}
{'total_sales': 11895, 'store_location': 'Washington'}
{'total_sales': 9185, 'store_location': 'Pennsylvania'}

**Plotting and Vizualization of the Crude operation and running the Dash Application**

In [ ]:
import dash
from dash import dcc, html
import plotly.express as px
from pymongo import MongoClient
import pandas as pd

# Initialize the Dash app
app = dash.Dash(__name__)

# Run the aggregation to fetch the total sales by store location
results_sl = db.sales.aggregate([
    {"$group": { "_id": "$store_location", "total_sales": { "$sum": "$sales_amount"} }},
    {
        "$project": {
            "_id": 0,  #
            "store_location": "$_id",
            "total_sales": 1
        }
    }
])

# Convert the results to a Pandas DataFrame
data = list(results_sl)
df = pd.DataFrame(data)
df = df.rename(columns={'_id': 'store_location'})

# Create a bar chart using Plotly Express
fig = px.bar(df, x='store_location', y='total_sales', title='Total Sales per Store Location',color='store_location', color_discrete_sequence=px.colors.qualitative.Set2)

# Maximize the bar width and adjust layout for better vizulaize
fig.update_layout(
    bargap=0.1,
    bargroupgap=0,
    height=600,
    autosize=True,
    title_x=0.5,
    xaxis=dict(
        title='Store Location',
        tickangle=45,
    ),
    yaxis=dict(
        title='Total Sales',
    )
)

# Define the layout of the Dash app
app.layout = html.Div([
    html.H1("Visualize Total Sales by Store Location"),
    dcc.Graph(figure=fig),
])

# Run the Dash app
if __name__ == '__main__':
    app.run_server(debug=True)

### **From Dash:**
![Screenshot 2025-02-03 032039.png]()

# **Milestone 3**

### **importing librarries**

In [ ]:
#import librarries
import pandas as pd
import numpy as np
import requests

### **Step 1: Extract Sales Data from CSV**

In [ ]:
# Load the sales data from a CSV file from my github repo

url="https://raw.githubusercontent.com/falawar7/AAI_634O/refs/heads/main/Week3/Project/sales_data_FEB2025.csv"
sales_data = pd.read_csv(url)

# Display the first few rows of the DataFrame
sales_data.head()

       date product_id  sales_amount store_location
0  2/1/2025       P003           450    Los Angeles
1  2/1/2025       P002           950       New York
2  2/1/2025       P002           950        Houston
3  2/2/2025       P001           150        Seattle
4  2/2/2025       P004           600       New York

In [ ]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            63 non-null     object
 1   product_id      63 non-null     object
 2   sales_amount    63 non-null     int64
 3   store_location  63 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.1+ KB

### **Step 2: Fetch Weather Data from the API**
set the OpenWeatherMap API to fetch weather data for each store location on the corresponding transaction date.
API Setup:

*   api: "https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}
*   api_key:3cb535b45b20509643dcb1f06587f284

In [ ]:
def fetch_weather_data(city, date, api_key):
    base_url = f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}"
    response = requests.get(base_url)
    #print(response)
    data = response.json()
    #print(data)
    # Extract temperature, humidity, and weather description
    temperature = data['main']['temp'] - 273.15 # Convert from Kelvin to Celsius
    humidity = data['main']['humidity']
    weather_description = data['weather'][0]['description']
    return temperature, humidity, weather_description

In [ ]:
# API KEY
api_key="3cb535b45b20509643dcb1f06587f284"
#cehcking Temp , Humididty , weather condition for New York
temp, humidity, description = fetch_weather_data('New York', '2025-01-01', api_key)
print(f"Temp: {temp}, Humidity: {humidity}, Weather: {description}")

Temp: 1.0300000000000296, Humidity: 87, Weather: broken clouds

### **Step 3: Combine Weather Data with Sales Data**

In [ ]:
# Loop through each row of the sales_data dataframe, call the function and update the dataframe with weather data
for index, row in sales_data.iterrows():
    temp, humidity, description = fetch_weather_data(row["store_location"], row["date"],api_key)
    sales_data.at[index, "Temperature (°C)"] = temp
    sales_data.at[index, "Humidity (%)"] = humidity
    sales_data.at[index, "Weather Description"] = description

In [ ]:
sales_data.head()

,date,product_id,sales_amount,store_location,Temperature (°C),Humidity (%),Weather Description
0,2/1/2025,P003,450,Los Angeles,12.40,30.0,broken clouds
1,2/1/2025,P002,950,New York,1.03,87.0,broken clouds
2,2/1/2025,P002,950,Houston,21.17,83.0,overcast clouds
3,2/2/2025,P001,150,Seattle,-0.29,95.0,overcast clouds
4,2/2/2025,P004,600,New York,1.03,87.0,broken clouds

In [ ]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 63 non-null     object
 1   product_id           63 non-null     object
 2   sales_amount         63 non-null     int64
 3   store_location       63 non-null     object
 4   Temperature (°C)     63 non-null     float64
 5   Humidity (%)         63 non-null     float64
 6   Weather Description  63 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 3.6+ KB

### **Step 4: Load the Integrated Data into MongoDB**
 complete ETL pipeline, automated with Airflow and integrated with error handling and logging.

In [ ]:
from pymongo.mongo_client import MongoClient
from datetime import datetime

uri = "mongodb+srv://faysalelawar:pb6LB2kBPQ5Be5vN@dataengineeringcluster.61mrj.mongodb.net/?retryWrites=true&w=majority&appName=DataEngineeringCluster"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [ ]:
# checking My DB list
databases = client.list_database_names()
print(databases)

['blog_platform', 'covid_new', 'e-commerce_04022025', 'ecommerce', 'ecommerce_db', 'healthcare_db', 'retail_2025', 'retail_db', 'sales_db', 'admin', 'local']

In [ ]:
#access the sales_db
db = client['sales_db']

In [ ]:
#create a new collection named sales
collection = db["sales_weather_test"]

#on Apache Airflow Scheduler Deployment will use
#collection = db["sales_weather"]

In [ ]:
#adding the records
sales_data_dict = sales_data.to_dict("records")
collection.insert_many(sales_data_dict)

#print the total added records
print(f"Total records added: {len(sales_data_dict)}")

Total records added: 63

#**Full Code**

In [ ]:
import requests
from airflow import DAG
from airflow.operators.python import PythonOperator
from pymongo import MongoClient
import logging
import os
import pandas as pd
from datetime import datetime, timedelta

# Setup Logging for Airflow
log_directory = 'C:/Users/Faisal/Desktop/errors/'
if not os.path.exists(log_directory):
    os.makedirs(log_directory)

logger = logging.getLogger()
file_handler = logging.FileHandler('C:/Users/Faisal/Desktop/errors/pipeline.log2')
file_handler.setLevel(logging.INFO)
formatter = logging.Formatter('%(asctime)s - %(levelname)s - %(message)s')
file_handler.setFormatter(formatter)
logger.addHandler(file_handler)

# MongoDB URI
uri = "mongodb+srv://faysalelawar:pb6LB2kBPQ5Be5vN@dataengineeringcluster.61mrj.mongodb.net/?retryWrites=true&w=majority&appName=DataEngineeringCluster"

# Weather API URL and Key (replace with your actual API key)
WEATHER_API_URL = "https://api.openweathermap.org/data/2.5/weather"
API_KEY = "3cb535b45b20509643dcb1f06587f284"  # Replace with your OpenWeatherMap API key

# Function to get weather data from API
def fetch_weather_data(city, api_key=API_KEY):
    base_url = f"{WEATHER_API_URL}?q={city}&appid={api_key}"
    response = requests.get(base_url)
    data = response.json()

    if response.status_code == 200:
        # Extract temperature, humidity, and weather description
        temperature = data['main']['temp'] - 273.15  # Convert from Kelvin to Celsius
        humidity = data['main']['humidity']
        weather_description = data['weather'][0]['description']
        return temperature, humidity, weather_description
    else:
        logger.error(f"Weather data fetch failed for city: {city}. Status code: {response.status_code}")
        return None, None, None

# Extract function to load data from a source (e.g., CSV file)
def extract_data(**kwargs):
    try:
        # Read the CSV file containing sales data
        url = "https://raw.githubusercontent.com/falawar7/AAI_634O/refs/heads/main/Week3/Project/sales_data_FEB2025.csv"
        sales_data = pd.read_csv(url)

        # Push the sales_data to XCom for downstream tasks
        kwargs['ti'].xcom_push(key='sales_data', value=sales_data)

        # Print the extracted data (this will be logged in the Airflow UI)
        logger.info("Extracted Data:")
        logger.info(sales_data.head())
    except Exception as e:
        logger.error(f"ETL task failed: {str(e)}")
        raise

# Function to test API connection
def test_api_connection(**kwargs):
    try:
        # Test the API connection by fetching weather data for a sample city
        sample_city = "New York"
        temp, humidity, description = fetch_weather_data(sample_city, API_KEY)

        if temp is not None and humidity is not None and description is not None:
            logger.info(f"API Connection Successful! Sample Data for {sample_city}:")
            logger.info(f"Temperature: {temp}°C, Humidity: {humidity}%, Description: {description}")
        else:
            logger.error("API Connection Test Failed: No data returned.")
            raise Exception("API Connection Test Failed: No data returned.")
    except Exception as e:
        logger.error(f"API Connection Test Failed: {str(e)}")
        raise

# Define the transform task
def transform_data(**kwargs):
    try:
        # Pull the extracted data from XCom
        sales_data = kwargs['ti'].xcom_pull(key='sales_data', task_ids='extract_data')

        # Loop through each row of the sales_data DataFrame and fetch weather data
        for index, row in sales_data.iterrows():
            # Fetch weather data based on the store location (city)
            temp, humidity, description = fetch_weather_data(row["store_location"], API_KEY)

            # Update the DataFrame with new weather columns
            sales_data.at[index, "Temperature (°C)"] = temp
            sales_data.at[index, "Humidity (%)"] = humidity
            sales_data.at[index, "Weather Description"] = description

        # Push the transformed data to XCom for downstream tasks
        kwargs['ti'].xcom_push(key='transformed_data', value=sales_data)

        # Print the transformed data (this will be logged in the Airflow UI)
        logger.info("Transformed Data:")
        logger.info(sales_data.head())
        return sales_data
    except Exception as e:
        logger.error(f"ETL task failed: {str(e)}")
        raise

# Load function to insert transformed data into MongoDB
def load_data(**kwargs):
    try:
        # Pull the transformed data from XCom
        transformed_data = kwargs['ti'].xcom_pull(key='transformed_data', task_ids='transform_data')

        # Connect to MongoDB
        client = MongoClient(uri)
        client.admin.command('ping')  # Test connection
        logger.info("Successfully connected to MongoDB!")

        db = client['sales_db']
        collection = db["sales_weather"]

        # Convert DataFrame to dictionary and insert into MongoDB
        sales_data_dict = transformed_data.to_dict("records")
        result = collection.insert_many(sales_data_dict)

        logger.info(f"Total records added: {len(sales_data_dict)}")
        print(f"Total records added: {len(sales_data_dict)}")
    except Exception as e:
        logger.error(f"Error in data loading: {str(e)}")
        raise

# Define default arguments for the DAG
default_args = {
    'owner': 'airflow',
    'start_date': datetime(2025, 2, 8),
    'retries': 2,
}

# Define the DAG
dag = DAG(
    'Project_FE_DE',
    default_args=default_args,
    schedule='0 6 * * *',  # Run every day at 6:00 AM
)
# Define the tasks in the DAG
extract_task = PythonOperator(
    task_id='extract_data',
    python_callable=extract_data,
    dag=dag
)

api_test_task = PythonOperator(
    task_id='test_api_connection',
    python_callable=test_api_connection,
    dag=dag
)

transform_task = PythonOperator(
    task_id='transform_data',
    python_callable=transform_data,
    dag=dag
)

load_task = PythonOperator(
    task_id='load_data',
    python_callable=load_data,
    dag=dag
)

# Set the task dependencies
extract_task >> api_test_task >> transform_task >> load_task

C:\Users\Faisal\anaconda3\Lib\site-packages\airflow\__init__.py:36: RuntimeWarning: Airflow currently can be run on POSIX-compliant Operating Systems. For development, it is regularly tested on fairly modern Linux Distros and recent versions of macOS. On Windows you can run it via WSL2 (Windows Subsystem for Linux 2) or via Linux Containers. The work to add Windows support is tracked via https://github.com/apache/airflow/issues/10388, but it is not a high priority.
  warnings.warn(

# **Importing From MongoDB and Potting in Dash**

### **1. Importing sales_weather from MongoDB**
- I wanted to export from MongDB with Json Export  but its not mentioned in teh description
- the link of Json file on Github  https://raw.githubusercontent.com/falawar7/AAI_634O/refs/heads/main/sales_db.sales_weather.json

In [ ]:
# Connect to MongoDB
client = MongoClient("mongodb+srv://faysalelawar:pb6LB2kBPQ5Be5vN@dataengineeringcluster.61mrj.mongodb.net/?retryWrites=true&w=majority&appName=DataEngineeringCluster")
db = client["sales_db"]
collection = db["sales_weather"]

# Fetch data from MongoDB
df = pd.DataFrame(list(collection.find({}, {"_id": 0})))  # Convert cursor to list first

# Print column names to verify
print(df.columns)

Index(['date', 'product_id', 'sales_amount', 'store_location',
       'Temperature (°C)', 'Humidity (%)', 'Weather Description'],
      dtype='object')

In [ ]:
df.head(15)

,date,product_id,sales_amount,store_location,Temperature (°C),Humidity (%),Weather Description
0,2025-02-01,P003,450,Los Angeles,12.40,30.0,broken clouds
1,2025-02-01,P002,950,New York,1.03,87.0,broken clouds
2,2025-02-01,P002,950,Houston,21.17,83.0,overcast clouds
3,2025-02-02,P001,150,Seattle,-0.29,95.0,overcast clouds
4,2025-02-02,P004,600,New York,1.03,87.0,broken clouds
5,2025-02-02,P005,750,Los Angeles,12.40,30.0,broken clouds
6,2025-02-02,P001,900,Los Angeles,12.40,30.0,broken clouds
7,2025-02-02,P001,900,Chicago,-4.36,58.0,overcast clouds
8,2025-02-02,P002,300,Seattle,-0.29,95.0,overcast clouds
9,2025-02-02,P005,750,New York,1.03,87.0,broken clouds
10,2025-02-03,P002,300,New York,1.03,87.0,broken clouds
11,2025-02-03,P005,750,Houston,21.17,83.0,overcast clouds
12,2025-02-04,P002,950,Chicago,-4.36,58.0,overcast clouds
13,2025-02-04,P001,150,Los Angeles,12.40,30.0,broken clouds
14,2025-02-04,P003,450,Houston,21.17,83.0,overcast clouds

### **2. Plotting Dash**

In [ ]:
import dash
from dash import dcc, html
import plotly.express as px
import pandas as pd
from pymongo import MongoClient
from dash.dependencies import Input, Output

# Connect to MongoDB
client = MongoClient("mongodb+srv://faysalelawar:pb6LB2kBPQ5Be5vN@dataengineeringcluster.61mrj.mongodb.net/?retryWrites=true&w=majority&appName=DataEngineeringCluster")
db = client["sales_db"]
#updated Colelction imported using Apache Airflow
collection = db["sales_weather"]

# Fetch data from MongoDB
#removing id column
df = pd.DataFrame(list(collection.find({}, {"_id": 0})))

# Convert 'date' column to datetime format for proper time-series visualization
df["date"] = pd.to_datetime(df["date"])

# Scatter plot: Temperature vs. Sales
scatter_temp = px.scatter(df,
                          x="Temperature (°C)",
                          y="sales_amount",
                          color="store_location",
                          title="Sales vs. Temperature",
                          hover_data=["store_location", "Humidity (%)", "sales_amount"])

# Scatter plot: Humidity vs. Sales
scatter_humidity = px.scatter(df,
                               x="Humidity (%)",
                               y="sales_amount",
                               color="store_location",
                               title="Sales vs. Humidity",
                               hover_data=["store_location", "Temperature (°C)", "sales_amount"])

# Bar chart: Total Sales per Store Location
sales_per_location = df.groupby("store_location")["sales_amount"].sum().reset_index()
bar_location = px.bar(sales_per_location,
                      x="store_location",
                      y="sales_amount",
                      title="Total Sales per Store Location",
                      color="store_location",
                      hover_data=["sales_amount"])

# Bar chart: Total Sales per Weather Condition
sales_per_weather = df.groupby("Weather Description")["sales_amount"].sum().reset_index()
bar_weather = px.bar(sales_per_weather,
                     x="Weather Description",
                     y="sales_amount",
                     title="Total Sales by Weather Condition",
                     color="Weather Description",
                     hover_data=["sales_amount"])

# Line chart: Sales per Day for Each Store Location (with hover)
sales_per_day = df.groupby(["date", "store_location", "Weather Description", "Humidity (%)", "Temperature (°C)"])["sales_amount"].sum().reset_index()
line_sales = px.line(sales_per_day,
                     x="date",
                     y="sales_amount",
                     color="store_location",
                     title="Daily Sales Trends by Store Location",
                     markers=True,  # Adds points on the line
                     hover_data=["store_location", "sales_amount", "Humidity (%)", "Temperature (°C)"])

# Bar chart: Most Selling Products
sales_per_product = df.groupby("product_id")["sales_amount"].sum().reset_index()
sales_per_product = sales_per_product.sort_values(by="sales_amount", ascending=False).head(10)  # Get top 10 products

# Add average weather data for hover
avg_weather_data = df.groupby("product_id")[["Temperature (°C)", "Humidity (%)"]].mean().reset_index()

# Merge the average weather data with the product sales data
sales_per_product = pd.merge(sales_per_product, avg_weather_data, on="product_id", how="left")

bar_products = px.bar(sales_per_product,
                      x="product_id",
                      y="sales_amount",
                      title="Top 10 Most Selling Products",
                      color="product_id",
                      hover_data=["sales_amount", "Temperature (°C)", "Humidity (%)"])

# Dash app layout
app = dash.Dash(__name__)

# Layout of the dashboard
app.layout = html.Div(children=[
    html.H1("Sales & Weather Analysis"),

    html.H3("Sales vs. Temperature"),
    dcc.Graph(figure=scatter_temp),

    html.H3("Sales vs. Humidity"),
    dcc.Graph(figure=scatter_humidity),

    html.H3("Total Sales per Store Location"),
    dcc.Graph(figure=bar_location),

    html.H3("Total Sales by Weather Condition"),
    dcc.Graph(figure=bar_weather),

    html.H3("Daily Sales Trends by Store Location"),
    dcc.Graph(figure=line_sales),

    # Dropdown menu for selecting store location only for the "Top 10 Most Selling Products" graph
    dcc.Dropdown(
        id='store-location-dropdown',
        options=[{'label': location, 'value': location} for location in df['store_location'].unique()],
        value=df['store_location'].unique()[0],
        style={'width': '50%'}
    ),

    html.H3("Top Selling Products"),
    dcc.Graph(id='bar-products'),
])

# Update the "Top Selling Products" graph based on the selected store location
@app.callback(
    Output('bar-products', 'figure'),
    [Input('store-location-dropdown', 'value')]
)
def update_top_products(selected_location):
    # Filter the dataframe based on selected location
    filtered_df = df[df['store_location'] == selected_location]

    # Bar chart: Most Selling Products (with hover)
    sales_per_product = filtered_df.groupby("product_id")["sales_amount"].sum().reset_index()
    sales_per_product = sales_per_product.sort_values(by="sales_amount", ascending=False).head(10)  # Get top 10 products

    # Add average weather data for hover (no weather description)
    avg_weather_data = filtered_df.groupby("product_id")[["Temperature (°C)", "Humidity (%)"]].mean().reset_index()

    # Merge the average weather data with the product sales data
    sales_per_product = pd.merge(sales_per_product, avg_weather_data, on="product_id", how="left")

    bar_products = px.bar(sales_per_product,
                          x="product_id",
                          y="sales_amount",
                          title="Top 10 Most Selling Products",
                          color="product_id",
                          hover_data=["sales_amount", "Temperature (°C)", "Humidity (%)"])

    return bar_products

if __name__ == "__main__":
    app.run_server(debug=True)